body{
     background: #167177;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 50px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 850px;
    height: 800px;
    padding: 20px;
    background-color: #0CA0AA;
    border-radius: 15px;
    backdrop-filter: blur(25px);
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.2); /*get allround box shadow*/
}

h2{
    color: #fff;
    font-size: 1.5em;
    font-family: "Days One", sans-serif;
    font-weight: 400;
    text-shadow: 0 7px 4px rgba(0, 0, 0, 0.259);
}
img{
    height: 300px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}


.three-buttons{
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-content: space-around;
    display: flex;
}
.three-buttons button{
    font-family: "Days One", sans-serif;
    font-size: 0.8em;
    width: 180px;
    height: 35px;
    border-radius: 8.5px;
    background: #95EDDB;
    border: none;
    box-shadow: inset 0 1px 0 2px rgba(157, 193, 178, 0.262);
    padding: 5px;
    margin-top: 50px;
    box-shadow: inset 10 4px 8px rgba(0, 0, 0, 0.15),
    inset 0 -40px 8px rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.three-buttons button:hover {
  background: #76d7c4;
  transform: scale(1.05);
}

.upload-btn{
    font-family: "Days One", sans-serif;
    font-size: 0.8em;
    width: 180px;
    height: 35px;
    border-radius: 8.5px;
    background: #95EDDB;
    border: none;
    box-shadow: inset 0 1px 0 2px rgba(157, 193, 178, 0.262);
    padding: 5px;
    margin-top: 50px;
    box-shadow: inset 10 4px 8px rgba(0, 0, 0, 0.15),
    inset 0 -40px 8px rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.upload-btn:hover {
  background: #76d7c4;
  transform: scale(1.05);
}

.results-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

#results{
    width: 450px;
    height: 50px;
    border-radius: 8.5px;
    background: #95EDDB;
    border: none;
    box-shadow: inset 0 1px 0 2px rgba(157, 193, 178, 0.262);;
    margin-top: 5px;
    box-shadow: inset 10 4px 8px rgba(0, 0, 0, 0.15),
    inset 0 -40px 8px rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.history-page {
    display: flex;
    flex-direction: column; /* Vertical layout */
    align-items: center;
    width: 850px;
    height: auto;
    padding: 20px;
    background-color: #0CA0AA;
    border-radius: 15px;
    backdrop-filter: blur(25px);
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.history-header {
    text-align: center;
    margin-bottom: 20px;
}

.history-header h2 {
    color: #fff;
    margin: 10px 0;
}

.history-content {
    display: flex;
    flex-direction: row; /* Image and text side-by-side */
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.history-image {
    width: 300px;
    height: 350px;
    object-fit: cover;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.history-results {
    background-color: #fff;
    width: 300px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.history-results p {
    font-family: 'Days One', sans-serif;
    font-size: small;
    margin-bottom: 200px;
}

.history-button {
    margin-top: 20px;
}

.history-button button {
    font-family: "Days One", sans-serif;
    font-size: 0.8em;
    width: 180px;
    height: 35px;
    border-radius: 8.5px;
    background: #95EDDB;
    border: none;
    box-shadow: inset 0 1px 0 2px rgba(157, 193, 178, 0.262);
    padding: 5px;
    margin-top: 10px;
    box-shadow: inset 10 4px 8px rgba(0, 0, 0, 0.15),
    inset 0 -40px 8px rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.quick-pick-page{
    display: flex;
    flex-direction: column; /* Vertical layout */
    align-items: center;
    width: 850px;
    height: 960px;
    padding: 20px;
    background-color: #0CA0AA;
    border-radius: 15px;
    backdrop-filter: blur(25px);
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.quick-pick-content{
    display: flex;
    flex-direction: row; /* Vertical layout */
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    align-items: center;
    margin-top: 25px;
    background-color: #0caab5;
    box-shadow: inset 0 1px 0 2px rgba(157, 193, 178, 0.262);
    padding-bottom: 30px;
    margin-top: 30px;
    box-shadow: inset 10 4px 8px rgba(0, 0, 0, 0.15),
    inset 0 -40px 8px rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    width: 600px;
    height: 400px;
    border-radius: 15px;
}

.quick-pick-boards h3,
.quick-pick-draws h3{
    font-family: "Days One", sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    color: #f8efef;
}

.quick-pick-boards span,
.quick-pick-draws span{
    font-size: 25px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #0CA0AA;
    color: #fff;
    padding:  8px 15px;
    border-radius: 5px;
    user-select: none;
}

.quick-pick-boards .num,
.quick-pick-draws .num{
    background-color: #fff;
    color: #000;
    font-weight: bold;
}


.back-button {
     margin-top: 20px;
}

.back-button button {
    font-family: "Days One", sans-serif;
    font-size: 15px;
    width: 180px;
    height: 50px;
    border-radius: 8.5px;
    background: #95EDDB;
    border: none;
    box-shadow: inset 0 1px 0 2px rgba(157, 193, 178, 0.262);
    padding: 5px;
    margin-top: 15px;
    box-shadow: inset 10 4px 8px rgba(0, 0, 0, 0.15),
    inset 0 -40px 8px rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.generate-button{
    margin-top: 20px;
}

.generate-button button {
    font-family: "Days One", sans-serif;
    font-size: 15px;
    width: 180px;
    height: 50px;
    border-radius: 8.5px;
    background: #95EDDB;
    border: none;
    box-shadow: inset 0 1px 0 2px rgba(157, 193, 178, 0.262);
    padding: 5px;
    margin-top: 10px;
    box-shadow: inset 10 4px 8px rgba(0, 0, 0, 0.15),
    inset 0 -40px 8px rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}