<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lotto Lucky Numbers </title>
    <link rel="icon" href="{{url_for('static', filename='Favicon_lotto.png') }}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet">


<link rel="stylesheet" href="../static/Style.css">
<!--    
<link rel="stylesheet" href="{{url_for('static', filename='Style.css') }}">
-->
</head>
<body>
    <div class="wrapper">
        <div class="quick-pick-page">
            <h2>WELCOME TO YOUR FINANCIAL DREAMS</h2>
            <h2>The Lottery</h2>
            <img src="../static/Lotto.jpg" alt="">

                <div class="quick-pick-content">
                    <span class="minus">-</span>
                    <span class="num">01</span>
                    <span class="plus">+</span>
                    <br>
                    <span class="minus">-</span>
                    <span class="num">01</span>
                    <span class="plus">+</span>
                </div>
        </div>  
    </div>
    <!--
    <script src="{{url_for('static', filename='app.js') }}"></script>
    -->
    <script src="../static/app.js"></script>
</body>
</html>