<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lotto Lucky Numbers </title>
    <link rel="icon" href="{{url_for('static', filename='Favicon_lotto.png') }}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet">


<link rel="stylesheet" href="../static/Style.css">
<!--    
<link rel="stylesheet" href="{{url_for('static', filename='Style.css') }}">
-->
</head>
<body>
    <div class="wrapper">
        <div class="quick-pick-page">
            <h2>WELCOME TO YOUR FINANCIAL DREAMS</h2>
            <h2>The Lottery</h2>
            <img src="../static/Lotto.jpg" alt="">
                <div class="quick-pick-content">
                    
                    <div class="quick-pick-boards">
                        <h3>Numbers per board: </h3>
                        <span class="minus" id="boards-minus">-</span>
                        <span class="num" id="boards-num">1</span>
                        <span class="plus" id="boards-plus">+</span>
                    </div>

                    <div class="quick-pick-draws">
                        <h3>Number of draws: </h3>
                        <span class="minus" id="draws-minus">-</span>
                        <span class="num" id="draws-num">1</span>
                        <span class="plus" id="draws-plus">+</span>
                    </div>
                </div>

                <div class="generate-button">
                    <button>generate</button>
                </div>

                <div class="results-box">
                <h2>Your lucky numbers are:</h2>
                <div id="results">
                    <!-- Results will be displayed here -->

                </div>

                <div class="back-button">
                    <a href="../templates/index.html">
                    <button>Return</button>
                </a>
                </div>
        </div>
        </div>
    </div>
    <!--
    <script src="{{url_for('static', filename='app.js') }}"></script>
    -->
    <script src="../static/app.js"></script>
</body>
</html>